<script setup>

</script>

<template>
<div class="container m-1">
  <div class="card" style="width: 25rem;">
  <img src="https://kinsta.com/wp-content/uploads/2021/11/pasted-image-0-10.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">About Page</h5>
    <p class="card-text">This is About Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read ...</a>
  </div>
</div>
</div>
</template>